doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Weathertop title
    link(rel="stylesheet", href="/CSS/Stylesheet.css")
  body
    div.navbar
      nav
        ul
          li
            a(href="/") Weathertop
          li
            a(href="/dashboard") Dashboard
    div
      img#icons(src="/CSS/Weather-Icons-1024x730.jpg", alt="icons")
